/* 
Encapsulation is wrapping up the implementation details of the data members and the methoods inside the class
Abstraction is hiding the unessary details and showing the valueable information
For ex- ArrayList (abstract data types) - aap seedhe inke bane banaye method use krlo






*/
