/* 
Packages are of 2 types in java - 1} are the user defined jo hum har file ke upar likhte hai 2} are the in-built packages in java

a} java.lang package - that contains all the essential stuff for the java
b} java.io
c} java.util (it contains the utility classes and all the data structures like arraylist, stringbuilder etc.)
d} applet (obsolete stuff)
e} awt(for the graphical user interface not needed)
f} net package(for working internt of things package)








*/
